/* 
    Created on : May 12, 2016, 11:30:10 PM
    Author     : YayThemes.com
    Author Website     : http://www.YayThemes.com
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300|Raleway:400,300,500);
body{
    background: url('../img/bg.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    height: 100%;
    background-size: cover;
    background-color: #69295b;
}
a{
    color:#fff;
}
a:hover, a:focus{
    color:#fff;
}
p.low-color{
    font-size: 12px;
    color:rgba(255,255,255,0.4);
}
h2{
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 400;
}
p{
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;    
    margin: 40px auto;
}
.underline-stroke{
    height: 1px;
    width: 120px;
    background: #fff;
    margin-top:20px;    
}
.main-container{
    max-width: 800px;
}
#logo{
    margin-top: 100px;
    margin-bottom: 30px;
}
.countdown{
    position: relative;
}
.time-slot{
    width: 120px;
    display: inline-block;
}
.time-slot h1{
    font-size: 47px;
    font-family: "Lato";
    font-weight: 300;
    margin-bottom: 0;
}
.time-slot span{
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    opacity: 0.5s;
}
.vr {
    display: inline;
    width: 1px;
    height: 45px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 37px;
}
#caret{
    margin: 65px auto;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 0;
    border: 1px solid #fff;
}
.nav-tabs>li>a {
    border: 1px solid #fff;
    border-radius: 0;
    margin-right: -1px;
    color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: rgba(255, 255, 255, 0.27);
}
.tab-content {
    border: 1px solid #fff;
    margin-top: -1px;
    padding: 20px 30px;
}
.form-control {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    margin-bottom: 12px;
    color: #fff;
}
.form-control:focus {
    box-shadow: none;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.27);
}
.btn-outline {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
}
.btn-outline:hover,.btn-outline:focus{
    background: rgba(255, 255, 255, 0.27);
    color: #fff;
}
#tabs{
    margin-bottom: 40px;
}